.top-banner {
  background: url('/assets/img/top-banner.png') no-repeat center;
  height: 102px;
  background-size: contain;
}

.banner-bg {
  background: url('/assets/img/609439172-kids-running-down-trail.jpg') no-repeat center;
  background-size: cover;
  height: 285px;
}

.banner-heading {
  color: #ffffff;
  font-weight: 500;
  font-family: "Titillium Web", sans-serif;
  font-size: 45px;
  letter-spacing: -0.5px;
  padding: 50px;
  margin: 0;
}
